.about{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 0;
    .about_title{
        margin: 10px;
        font-size: 20px;
    }

    h1{
        font-size: 80px;
        margin: 10px;
        font-family: $main_font;
    }

    .Info{
        margin: 15px;
        font-size: 18px;
    }

    a{
        padding: 2px 5px;
        text-decoration: none; 
        color: black;
        font-size: 20px;
        border: 1px solid #000;
        transition: 0.2s;

        &:hover{
            color:#fff;
            background-color: #ccc;
        }
    }
}

@media screen and (max-width: $phone) {
    .about{
        .Info{
            font-size: 19px;
        }
    }
}