footer {
    padding: 10px 0;
    background-color: beige;
    .Title{
        margin-top: 20px;
        font-size: 20px;
    }

    p {
        text-align: center;
    }

    .nav_img {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content:center;    
        margin-top: 20px;
    }

    .Intro{
        font-size: 18px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        padding-bottom: 10px;
    }
}
