.slick{
    overflow: hidden;
    img{
        display: auto;
        margin: 0 auto;
        height: 100vh;
        object-fit: cover;
        cursor: pointer;
    }
}
@media screen and (max-width:$phone){
    .slick{
        img{
        height: 600px;
        }
    }
}