@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

nav .nav_menu {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  -webkit-box-shadow: 0 6px 5px #ccc;
          box-shadow: 0 6px 5px #ccc;
  position: fixed;
  z-index: 999;
  background-color: #fff;
}

nav a {
  text-decoration: none;
  font-family: "Fredoka", sans-serif;
  color: black;
  font-size: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav a:hover {
  -webkit-filter: invert(24%) sepia(92%) saturate(1716%) hue-rotate(24deg) brightness(94%) contrast(101%);
          filter: invert(24%) sepia(92%) saturate(1716%) hue-rotate(24deg) brightness(94%) contrast(101%);
}

nav p {
  font-size: 26px;
}

.menu {
  display: none;
}

.nav_img a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 10px;
}

.nav_img a:hover {
  -webkit-filter: invert(24%) sepia(92%) saturate(1716%) hue-rotate(24deg) brightness(94%) contrast(101%);
          filter: invert(24%) sepia(92%) saturate(1716%) hue-rotate(24deg) brightness(94%) contrast(101%);
}

.nav_img a img {
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 414px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px;
  }
  nav p {
    display: none;
  }
  .menu {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .nav_img {
    display: none;
  }
  .nav_img img {
    width: 24px !important;
    height: 24px !important;
  }
}

.slick {
  overflow: hidden;
}

.slick img {
  display: auto;
  margin: 0 auto;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .slick img {
    height: 600px;
  }
}

.about {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px 0;
}

.about .about_title {
  margin: 10px;
  font-size: 20px;
}

.about h1 {
  font-size: 80px;
  margin: 10px;
  font-family: "Fredoka", sans-serif;
}

.about .Info {
  margin: 15px;
  font-size: 18px;
}

.about a {
  padding: 2px 5px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  border: 1px solid #000;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about a:hover {
  color: #fff;
  background-color: #ccc;
}

@media screen and (max-width: 414px) {
  .about .Info {
    font-size: 19px;
  }
}

.Project {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.Project p {
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
  font-family: "Fredoka", sans-serif;
}

.Project .profolio_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.Project .profolio_main .profolio_card {
  width: 32%;
}

.Project .profolio_main .profolio_card a img {
  margin-bottom: 10px;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Project .profolio_main .profolio_card .card_title {
  border: 1px solid #000;
  padding: 3px 5px;
  border-radius: 10px;
}

.Project .profolio_main .profolio_card .card_content {
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .Project {
    width: 100%;
  }
  .Project .profolio_main {
    gap: 5px;
  }
  .Project .profolio_main .profolio_card {
    width: 48%;
  }
}

@media screen and (max-width: 414px) {
  .Project .profolio_main {
    display: block;
  }
  .Project .profolio_main .profolio_card {
    width: 100%;
    margin-bottom: 8px;
  }
  .Project p {
    font-size: 48px;
  }
}

footer {
  padding: 10px 0;
  background-color: beige;
}

footer .Title {
  margin-top: 20px;
  font-size: 20px;
}

footer p {
  text-align: center;
}

footer .nav_img {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

footer .Intro {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.Top_Bottom {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mb_menu {
  display: none;
}

@media screen and (max-width: 414px) {
  .mb_menu {
    display: block;
    width: 100%;
    background: #fff;
    position: absolute;
    z-index: 10;
    top: 80px;
  }
  .mb_menu .menu_p {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  .mb_menu .menu_img .menu_img_size {
    width: 80px;
    margin: 0 auto;
  }
  .mb_menu .menu_img .menu_img_size div {
    margin-bottom: 10px;
  }
  .mb_menu .menu_img .menu_img_size div a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .mb_menu .menu_img .menu_img_size div a img {
    width: 32px;
    height: 32px;
  }
  .mb_menu .menu_img .menu_img_size div a p {
    margin-left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */